.ui.page.main{
  padding-top: 80px;
}

img{
  max-width: 100%;
}

.top.attached.header{
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #e2e2e2;
}

.ui.footer.segment {
  background-image: url('http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/cartographer.png');
    margin: 5em 0em 0em;
    padding: 5em 0em;
}

iframe{
  width: 100%;
  height: 600px;
}

#file-input{
  /*display: none;*/
}

.ui.cards > .card, .ui.card{
  width: 100%;
}

.segment{
  overflow: auto;
}

.dash-avatar{
  float: right;
  max-width: 200px;
  border-radius: 5px;
}

.home{
  background-image: url('http://cdn.paper4pc.com/images/city-background-wallpaper-1.jpg');
}

.site-title{
  font-size: 100px;
  text-shadow: 1px 1px 1px #000;
}

.site-subtitle{
  font-size: 40px;
}

.site-writeup{
  font-size: 24px;
}

.container{
  padding-top: 60px;
  padding-botom: 60px;
}

.hide{
  display: none;
}
