<div class="ui grid">
  <div class="computer tablet mobile only row">
    <div class="ui fixed menu navbar page">
      <a href="" class="brand item">Project Name</a>
      <a ui-sref="search" class="item">Search</a>
      <a ui-sref="reservations" class="item">Reservations</a>
      <a ui-sref="spaces" class="item">Spaces</a>

      <div class="right menu">
        <a ui-sref="profile" class="item">Profile</a>
      </div>
    </div>
  </div>
  <!-- <div class="mobile only row">
      <div class="ui fixed inverted navbar menu">
          <a href="" class="brand item">Project Name</a>
          <div class="right menu open">
              <a href="" class="menu item">
                  <i class="content icon"></i>
              </a>
          </div>
      </div>
      <div class="ui vertical navbar menu">
          <a href="" class="active item">Home</a>
          <a href="" class="item">About</a>
          <a href="" class="item">Contact</a>
          <div class="ui item">
              <div class="text">Dropdown</div>
              <div class="menu">
                  <a class="item">Action</a>
                  <a class="item">Another action</a>
                  <a class="item">Something else here</a>
                  <a class="ui aider"></a>
                  <a class="item">Seperated link</a>
                  <a class="item">One more seperated link</a>
                </div>
          </div>
          <div class="menu">
              <a href="" class="active item">Default</a>
              <a href="" class="item">Static top</a>
              <a href="" class="item">Fixed top</a>
          </div>
      </div>
  </div> -->
</div>
